rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null
        && request.auth.token.email == "hairsbygifty@gmail.com";
    }

    match /products/{document} {
      allow read: if true;
      allow write: if isOwner();
    }

    match /hotDeals/{document} {
      allow read: if true;
      allow write: if isOwner();
    }

    match /reviews/{document} {
      allow read: if true;
      allow write: if isOwner();
    }

    match /announcements/{document} {
      allow read: if true;
      allow write: if isOwner();
    }
  }
}
